<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatibel" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dalkom Talk</title>
    <script src="/public/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/public/javascripts/socket.io.js"></script>
    <link href="/public/stylesheets/style.css" rel="stylesheet"/>
    
    <style>
        *{margin:0;padding:0;list-style: none;}
        .view{
            /* width:200px; */
            /* height:150px; */
            border:1px solid red;
            overflow: hidden;
        }
        .scrollBlind{
            /* width:230px; */
            /* height:100%; */
            overflow-y:auto;
            /* background-color: green; */
        } 
        
        p{
            /* height:50px; */
            /* line-height: 50px; */
            text-align: center;
            border-bottom: 1px solid blue;
            /* background-color: yellow; */
        }
    </style>



    <script>
    $(function(){
      var socket = io('http://localhost:3000/');
      
      socket.on('my message', function (msg) {
        $('#messages').append($('<p class="talk me">').text(msg)).trim;
      });

      socket.on('other message', function (msg) {
        $('#messages').append($('<p class="talk other">').text(msg));
      });

      $("#input").keyup(function(key){
        if(key.keyCode==13){
          socket.emit('message', $("#input").val());
          $("#input").val("");
          $("#messages").scrollTop(($("#messages")[0].scrollHeight));
        }
      });
      
      $("#btn").on('click', function(){
        socket.emit('message', $("#input").val());
        $("#input").val("");
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
      });
    })   
    </script>

  </head>
  <body>
        <div class="background view" >
            <div class ="msgbox scrollBlind" id="messages">
            </div>
                <input id="input" class="msg" type="text"/>
                <button id="btn" class="send" type="button">전송</button>
        </div>    
  </body>
</html>
